.vscode/*
.DS_Store
# Local History for Visual Studio Code
.history/
# Built Visual Studio Code Extensions
*.vsix

# ignore binary files
cpp_sketchLS/precomputation
cpp_sketchLS/query
cpp_sketchLS/main
cpp_sketchLS/test
cpp_sketchLS/main_divide
cpp_sketchLS/large-twitch/degree/extended_sketches.txt